body {
    background: rgb(236, 234, 234);
}

.about-text{
    background: seagreen;
}
.skills {
   
    background: salmon;
}
.contacts {
   
    background: rgb(220, 230, 132);
}

@media(max-width: 320px){
	.name-text{
		font-weight: 100;
	}
}
@media(max-width: 320px){
	.name-color{
		color: purple;
	}
}